@import './variables';

.imageTextContainer{
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 15px;
  margin-top:0px;
  padding-top:20px;
  margin-left:25px;
  margin-right:25px;
  overflow: auto;

  @media screen and (max-width: $mobile_break) {
    margin-left:auto;
    margin-right:auto;
    padding-left:10px;
    padding-right:10px;
  }
}

.imgContainer{
  float:left;
  padding-right:50px;
  padding-bottom:25px;
  border:none;
  @media screen and (max-width: $mobile_break) {
    float:none;
    padding: 0px;
    padding-bottom: 50px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
  }
}
