@import './variables';

.portfolioImg {
  max-width: 100%;
  height: auto;
  width: auto\9;
  border: 1px solid $second_color;
  margin:0px;
  padding:0px;
}

.linkContainer{
  text-align: center;
  font-size: 20px;
  line-height: 1;
  margin-top:32px;
  margin-bottom:22px;
}

.linkContainer a{
  text-decoration: none;
  color: $first_color;
}

.linkContainer a:hover{
  border-bottom: 1px solid $first_color;
}

.buffer{
  height:50px;
  border-bottom: 1px solid $second_color;
  margin-bottom:75px;
}

